body {
    background-color: white;
    }
    
    .block {
        background-color: rgb(69, 76, 210);
        padding: 100px;
        margin: 10px;
        background-color: yellow;
    }
    
    .flex {
        display: flex;

    }
    
    .amarelo {
        padding: 100px;
        margin: 10px;
        background-color: yellow;
    }
    #big-block{
     width: 660px;
    }

    .blu{
    background-color: blue;
    padding: 10px;
    margin: 10px;

    }
    .red{
        background-color: #df4e4e;
        padding-right: 320px;
    }